body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#guest-list li {
  margin-bottom: 10px;
  list-style-type: none;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

#guest-form input {
  padding: 6px;
  width: 200px;
}
